<!doctype html>
<html lang="en">
  <head>

    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>covid-19</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">COVID-19     Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        
      </nav>

<div class='container'>
    <h2 class="text-center mt-3"> COVID-19 infection detector </h2>
    
      <form action='/' method='POST'>

               Fever<br>
            <div class="d-flex justify-content-center my-4">
                
        
            <input id="slider11" name="fever" class="custom-range" type="range" min="95" max="107" step="0.1" />
        
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
        </div>

        Age
            <div class="d-flex justify-content-center my-4">
                
        
            <input id="slider112" name="age" class="custom-range" type="range" min="1" max="100" step="1" />
        
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan2"></span>
        </div>
        
        <div class="container">
            <div class="row">
              <div class="col-sm">
              </br>Body Pain </br>
               <select class="form-control custom-select " name="pain" id="exampleFormControlSelect1">
                <option value='0' selected>No pain</option>
                <option value='1'>Mild pain</option>
                <option value='2'>Severe pain</option>
                
                </select> </br>
              </div></br></br>
              <div class="col-sm">
              </br>Dry Cough </br>
               <select class="form-control custom-select " name="nose" id="exampleFormControlSelect1">
                <option value='0' selected>No cough</option>
                <option value='1'>Mild cough</option>
                <option value='2'>Severe cough</option>
                
                </select> </br>
              </div><br><br>
              <div class="col-sm">
              </br> Breathing Difficulty </br>
                <select class="form-control custom-select " name="breath" id="exampleFormControlSelect1">
                 <option value='0' selected>No difficulty</option>
                 <option value='1'>Mild difficulty</option>
                 <option value='2'>Severe difficulty</option>
                 
                 </select> </br>
               </div>
               
            </div>
          </div>


          

        </br>
          
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Any other issues</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary mb-2">CHeck</button>
      </form></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function() {

            const $valueSpan = $('.valueSpan');
            const $value = $('#slider11');
            $valueSpan.html($value.val());
            $value.on('input change', () => {
          
              $valueSpan.html($value.val());
            });
          });

    </script>
    <script>

        $(document).ready(function() {

            const $valueSpan = $('.valueSpan2');
            const $value = $('#slider112');
            $valueSpan.html($value.val());
            $value.on('input change', () => {
          
              $valueSpan.html($value.val());
            });
          });

    </script><script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-ce15e891-5b2a-42a4-86db-5d73bb9c54dd"></div>
    <br>
    <div class="text-center"style="color=black;opacity:0.8;float:bottom; ">Designed by: <br>Balaji Betadur<br><br> Check here for more <a href="https://balajibetadur.github.io" target="_blank"<span>Portfolio</span></a></div>
</body>
</html>


   